@page
@model WEB_153501_Savonchik.Areas.Admin.FirmAdmin.DeleteModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Delete</title>
</head>
<body>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Firm</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Firm.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Firm.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Firm.NormalizedName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Firm.NormalizedName)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Firm.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
</body>
</html>
