@page
@model WEB_153501_Savonchik.Areas.TelephoneAdmin.Pages.IndexModel

@{
    //Layout = null;
    var partialPageModel = (Model.Telephone, true);
}

<!DOCTYPE html>

<div class="partial-list-container">
    <partial name="_ProductListPartial" model="partialPageModel"/>
</div>


